.*.sw?
.yardoc
dist/
pkg/
spec/rp_env/
spec/fixtures/**
!/spec/hieradata/default.yaml
!spec/fixtures/site.pp
!spec/fixtures/inspec_profiles
.rspec_system
.vagrant/
.bundle/
Gemfile.lock
vendor/
junit/
log/
doc/
spec/fixtures/modules
.idea/
sec_results/
